<div style="margin: 2rem"></div>
<div class="centerClass">
  <div class="widthForm">
    <form (ngSubmit)="AddNewClipTest()" [formGroup]="form">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Youtube link?</mat-label>
        <input matInput type="text" formControlName="link" (change)="changeValue()">
      </mat-form-field>
      <br>

      <button mat-stroked-button color="primary">Search</button>

      <p>Value: {{form.get('link').value}}</p>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Clip name</mat-label>
        <input matInput #message maxlength="32" placeholder="Clip name" formControlName="name">
        <mat-hint align="end">{{message.value.length}} / 32</mat-hint>
      </mat-form-field>

      <div *ngIf="!newCategoryMode">

        <h3>Pick category</h3>

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Favorite category</mat-label>
          <mat-select formControlName="categorySelect" name="All *">
            <mat-option *ngFor="let cate of setCategoryies" [value]="cate">
              {{cate}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <p> Selected category: {{form.get('categorySelect').value}} </p>
      </div>

      <mat-button-toggle (change)="makeNewCategory()">Make new category</mat-button-toggle>

      <div *ngIf="newCategoryMode">
        <h3>Create new category</h3>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Category</mat-label>
          <input matInput #cate maxlength="32" placeholder="Catergory" formControlName="category">
          <mat-hint align="end">{{cate.value.length}} / 32</mat-hint>
        </mat-form-field>

        <br>
      </div>

      <div style="margin-top: 1.75rem;">
        <mat-form-field class="textBox" appearance="outline">
          <mat-label>Message</mat-label>
          <textarea formControlName="review" matInput maxlength="256" placeholder="My Clip Review ..."
            rows="6"></textarea>

          <!-- <textarea formControlName="myReviewText" matInput maxlength="256"
          placeholder="Ex. I need help with..."></textarea>
        -->

          <mat-hint align="end">{{form.get('review').value.length }} / 256</mat-hint>
          <!-- <mat-hint align="end">{{form.get("myReviewText").value.length}} / 256</mat-hint> -->
        </mat-form-field>
      </div>

      <div *ngIf="flagHaveYoutubeLink">
        <br>
        <p body-1> Preview</p>
        <br>
        <iframe class="e2e-iframe-trusted-src" class="" [src]="youtubeLink"></iframe>
      </div>

      <br>
      <button mat-stroked-button color="primary" class="example-full-width" type="submit">
        Add New Clip</button>
      <br>
    </form>
  </div>
</div>