<div style="margin: 3rem"></div>
<div class="main-div">

  <mat-card style="border-radius: 1rem;" class="cardWidth red-border">
    <div style="margin-left: 2rem; margin-top: 0rem;">
      <mat-card-header>
        <!-- <h4>Resource URL:</h4>
      <p>Showing: {{clip.shortUri}}</p> -->



        <mat-card-title>
          {{clip.name}}
        </mat-card-title>

        <mat-card-subtitle>
          <!-- <a style="cursor: pointer;" (click)="onClickNameClip(clip)"> -->


          {{clip.category}}
        </mat-card-subtitle>

        <!-- <mat-card-subtitle>
        {{ baseUriYt + clip.shortUri}}
      </mat-card-subtitle>

      <mat-card-subtitle>
        {{ clip.shortUri}}
      </mat-card-subtitle> -->

      </mat-card-header>
    </div>


    <div class=" centerIt" style="margin-top: 1rem;">
      <mat-card-content>
        <iframe class="e2e-iframe-trusted-src clipWidth" style="border-radius: 0.5rem;" [src]="YtUrl"></iframe>
      </mat-card-content>
    </div>


    <div class="centerIt" style="margin-bottom: 1rem;">
      <mat-card-content>
        <!-- <h1 style="padding: 0 1rem 0 1rem ;">Review</h1> -->
        <p class="">
          {{clip.review}}
        </p>
      </mat-card-content>
    </div>

  </mat-card>


</div>

<br><br><br><br>

<!-- <form (ngSubmit)="" [formGroup]="form"> -->

<div class="main-div">


  <button mat-raised-button color="accent" (click)="EditMode()" *ngIf="!editMode">Edit</button>


  <div *ngIf="editMode">
    <!-- <div> -->

    <p>Edit name of the clip</p>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Clip name</mat-label>
      <input matInput #message maxlength="32" placeholder="Clip name" [formControl]="clipnameControl">
      <mat-hint align="end">{{message.value.length}} / 32</mat-hint>
    </mat-form-field>


    <p>Edit category of the clip</p>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Favorite category</mat-label>
        <mat-select name="All *" [formControl]="selectFormControl">
          <!-- [name]="clip.catagory" -->
          <mat-option *ngFor="let cate of setCategoryies" [value]="cate" value="clip.catagory">
            {{cate}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p> Selected category: {{selectFormControl.value}} </p>
    </div>

    <p>Edit review of the clip</p>
    <div *ngIf="editMode" style="margin-top: 1.75rem;">
      <mat-form-field class="textBox" appearance="outline">
        <mat-label>Message</mat-label>
        <textarea [formControl]="myReviewText" matInput maxlength="256" placeholder="My Clip Review ..."
          rows="10"></textarea>

        <!-- <textarea formControlName="myReviewText" matInput maxlength="256"
        placeholder="Ex. I need help with..."></textarea>
      -->

        <mat-hint align="end">{{myReviewText.value.length }} / 256</mat-hint>
        <!-- <mat-hint align="end">{{form.get("myReviewText").value.length}} / 256</mat-hint> -->
      </mat-form-field>
    </div>



    <br>

    <button mat-raised-button color="primary" class="btn-margin" (click)="onSave()">Save</button>
    <button mat-raised-button color="warn" class="btn-margin" (click)="onDelete()">Delete Clip</button>

    <div style="margin-top: 10rem;"></div>

  </div>
</div>
<!-- </form> -->