.centerIt {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.main-div {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
}

.cardWidth {
  width: 700px;
}

.clipWidth {
  width: 600px;
  height: 400px;
}
