mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}

mat-spinner {
  margin: auto;
}

.widthForm {
  width: 500px;
  margin: 2rem;
}

.centerClass {
  display: flex;
  justify-content: center;
}
