.centerIt {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.main-div {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
}

.yellow-border {
  /* border-style: solid; */
  border: gold;

  border-style: solid;
  /* border-color: #ffe261; */
  border-width: 0.25px;
}
