<div class="centerClass">
  <div class="widthForm">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (ngSubmit)="onLogin()" *ngIf="!isLoading" [formGroup]="form">
      <mat-form-field appearance="outline">
        <input matInput name="email" type="email" placeholder="Email" formControlName="email">
        <mat-error *ngIf="form.invalid">Please enter a valid email.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input type="password" name="password" matInput placeholder="Password" formControlName="password">
        <mat-error *ngIf="form.invalid">Please enter a valid password.</mat-error>
      </mat-form-field>
      <br>

      <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">Login</button>

      <br><br><br><br>

      <div class="rightSide">
        <button mat-raised-button color="primary" routerLink="/auth/signup" routerLinkActive="mat-accent"
          type="button">Signup</button>
      </div>

    </form>
  </div>
</div>