.centerClass {
  display: flex;
  justify-content: center;
}

.break {
  flex-basis: 100%;
  width: 0;
}

.widthPage {
  width: 600px;
  margin: 2rem;
}

.yellow-border {
  /* border-style: solid; */
  border: gold;

  border-style: solid;
  /* border-color: #ffe261; */
  border-width: 0.25px;
}

.centerIt {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
